:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.project-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.project-main {
    flex: 1 0 auto;
    text-align: center;
    padding: 100px 100px;
    font-family: 'Circular Std Book', sans-serif;
    color: #414141;
}

.project-main:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.project-content {
    width: 100%;
    max-width: 1150px;
    display: inline-block;
    text-align: left;
    
}

.project-details-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    margin: 0px 0px 30px 0px;
}

.project-details-grid-container > div {
    background: #fff;
    padding: 10px 0px;
    text-align: left;
}

.project-banner {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project-banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.project-info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 18px;
}

.additional-project-images {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

.additional-project-images h3{
    margin: 0 0 8px 0;
    color: #414141;
}


.project-photos {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

.project-pic {
    padding: 10px 10px 0 0;
}

.project-pic img{
    max-width: 180px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.spacer-grid {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.project-info > * {
    margin: 0;
    padding: 0;
}

.project-info h1 {
    font-size: 60px;
    color: #414141;
    max-width: 890px;
}

.project-author {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}


.author-picture img {
    max-width: 100px;
    max-height: 100px;
    border-radius:1000px;
    border: 5px solid rgb(236, 159, 145);
    padding: 10px;
}


.about-the-author, .author-picture {
    text-align: center;
}

.about-the-author {
    margin: 10px 0px 0px 0px;
    
}

.about-the-author p {
    margin: 10px 0px;
    font-family: 'Circular Std Medium', sans-serif;
}

.architect-span-author, .intdes-span-author {
    padding: 10px 10px;
    font-family: 'Circular Std Book', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

.architect-span-author {
    border: 2px solid #8697bd;
    color : #8697bd;
}

.intdes-span-author {
    border: 2px solid #cc8fbf;
    color : #cc8fbf;
}

.author-link-style {
    color: #414141;
}

.author-link-style:hover {
    color: rgb(190, 87, 68);
}

.info-container {
    display: flex;
}

.icon-container {
    width: 100%;
    max-width: 30px;
}

.project-description-detailed {
    margin: 40px 0;
}

.project-description-detailed h3{
    margin: 0 0 8px 0;
    color: #414141;
}

.project-photos h3{
    margin: 0 0 8px 0;
    color: #414141;
}

.project-description-newline-format {
    white-space: pre-line;
}

.modal-content-image {
    width: 100%;
}

.modal-content-image img{
    max-width: 100%;
}


.edit-and-del-project {
    margin: 10px 0px 20px 0;
}

@media only screen and (max-width: 826px) {
    .project-main {
        padding: 80px 20px;
    }
}

@media only screen and (max-width: 626px) {
    .project-info h1 {
        font-size: 30px;
        color: #414141;
        max-width: 400px;
    }

    .info-container {
        font-size: 15px;
    }

    .project-description-detailed h3 {
        font-size: 20px;
    }

    .project-description-newline-format {
        font-size: 15px;
    }

    .spacer-grid {
        display: none;
    }

    .project-info {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .project-photos{
        flex-flow: nowrap;
    }

    .project-photos > *{
        flex: 1 1 150px;
    }

    .project-author {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .about-the-author, .author-picture {
        text-align: center;
    }
}


@media only screen and (max-width: 418px) {
    .project-info h1 {
        font-size: 25px;
        color: #414141;
    }

}


@media only screen and (max-width: 339px) {
    .project-photos > * {
        flex: 1 1 100px;
    }
}