:root {
    --space: 1.5em 0;
    --space: 2em 0;
}


.item-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.item-details-main {
    margin: 0px 100px;
    flex: 1 0 auto;
    text-align: center;
    padding: 100px 0px;
    font-family: 'Circular Std Book', sans-serif;
    text-align: center;
    color: #414141;
}

.item-two-columns {
    display: flex;
}

.item-details-main:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}


.responsive-container-details {
    width: 500px;
    height: 100%;
    max-height: 500px;
}

.item-picture-details {
    background: #fff;
    text-align:center; /* Align center inline elements */
    height: 100%;
    max-height: 500px;
    width: 100%;
    max-width: 500px;
}

.item-picture-details img {
    max-height: 500px;
    max-width:  500px;
    width: auto;
    height: auto;
    display: inline-block;
}


.item-info {
    display: inline-block;
    width: 100%;
    max-width: 1150px;
    text-align: left;
    
}

.item-info-2 {
    margin-left: 30px;
    padding-left: 30px;
    width: 500px;
}

.item-info-2 .item-name {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.item-info-2  .item-price {
    font-size: 32px;
    font-family: 'Circular Std Bold', sans-serif;
    margin: 0;
}


.item-info-quantity {
    display: flex;
    margin: 10px 0 0 0;
}

.item-info-quantity p {
    padding: 0px 10px 0px 0px;
}

.item-quantity-remaining {
    color: #707070;
}

.add-to-wishlist {
    width: 170px;
}

.add-to-cart {
    width: 170px;
}

.quantity label {
    font-size: 15px;
    font-family: 'Circular Std Book', sans-serif;
    color: #646464;
}

.quantity label span {
    font-size: 20px;
}

.quantity {
    height: 35px;
    line-height: 35px;
    margin-right: 50px;
}

.item-description p {
    margin: 0;
}

.item-description-header {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 18px;
    padding: 0px 0px 5px 0px;
    margin: 0;
}

.item-description-content {
    font-family: 'Circular Std Book', sans-serif;
    color: #414141;
    white-space: pre-line;
    font-weight: 100;
}

.item-reviews {
    text-align: left;
}

.item-rating-summary {
    margin: 15px 0 5px 0;
    display: flex;
}

.rating-count {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 13px;
    color: #707070;
    margin: 0 0 0 10px;
}

.item-seller {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 13px;
    color: #707070;
}

@media only screen and (max-width: 1260px) {
    .item-details-main {
        margin: 0px 20px;
    }
}



@media only screen and (max-width: 962px) {
    .item-details-main {
       
        padding: 100px 0px;
        
    }

    .item-picture-details img {
        max-height: 300px;
        max-width:  300px;
    }

    .responsive-container-details {
        width: 350px;
        max-height: 350px;
    }

    .item-picture-details {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        text-align:center; /* Align center inline elements */
    }
    
    .quantity label span {
        font-size: 15px;
    }

    .quantity label {
        font-size: 12px;
    }

    .add-to-wishlist {
        width: 150px;
    }

}


@media only screen and (max-width: 726px) {
    .add-to-wishlist {
        width: 130px;
    }

}


@media only screen and (max-width: 716px) {
    .responsive-container-details {
        margin: auto;
    }

    .item-picture-details {
        text-align: center;
    }

    .item-info-2 {
        width: 300px;
        margin: 0;
        text-align: left;
        margin: auto;
        padding: 0;
    }

    .item-info-2 .item-name {
        font-size: 25px;
    }

    .item-seller {
        font-size: 12px;
    }

    .item-info-2  .item-price {
        font-size: 23px;
    }

    .item-description-header {
        font-size: 14px;
    }

    .item-description-content {
        font-size: 13px;
    }

}

@media only screen and (max-width: 623px) {
    .item-two-columns {
        display: flex;
        flex-direction: column;
    }

    .responsive-container-details {
        width: 300px;
        max-height: 300px;
    }    


}


@media only screen and (max-width: 320px) {
    .item-picture-details img {
        max-height: 250px;
        max-width:  250px;
    }

    .responsive-container-details {
        width: 250px;
        max-height: 250px;
    }   

    .item-info-2 {
        width: 280px;
    }

}