.navbar {
    width: 100%;
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    background: #ffffff;
    border-bottom: 1px solid #EAEAE8;
    z-index:100;
    font-family: 'Circular Std Book', sans-serif;
}

.navbar-logo h1 a {
    color: #333;
    text-decoration: none;
    font-family: 'Wavehaus Bold', sans-serif;
    font-size: 40px;
}

.navbar-main {
    height: 100%;
    align-items: center;
    max-width: 1150px;
    width: 100%;
    margin: auto;    
}