.navbar {
    width: 100%;
    position: fixed;
    height: 64px;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: #fafafa;
    opacity: 0.99;
    z-index:100;
}

.navbar .navbar-logo h1 a {
    color: #333;
    text-decoration: none;
    font-family: 'Wavehaus Bold', sans-serif;
    font-size: 40px;
}

.navbar-logo {
    margin-left: 40px;
}

.navbar-main {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1em;
}

.spacer {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    .navbar-logo {
        flex: 1;
        margin-left: 0;
    }

    .navbar-logo h1 {
        text-align: center;
    }

    .spacer {
        flex: 0;
    }

}