:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.wishlist-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fafafa;
}

.wishlist-main {
    margin: 0px 100px;
    flex: 1 0 auto;
    text-align: center;
}

.wishlist-main:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.wishlist-products {
    margin: 90px 0px 30px 0px;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 1150px;
    display: inline-block;
    text-align: left;
}

.wishlist-products h1 {
    margin: 0 0 30px 0;
}

.wishlist-svg {
    text-align: center;
}

.wishlist-svg img {
    width: 300px;
    height: 300px;
}

.wishlist-svg p {
    font-size: 15px;
    font-family: 'Circular Std Book', sans-serif;
    color: #6e6e6e;
    margin: 0;
    padding: 0 0 30px 0;
}