:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.pros-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fafafa;
    
}

.pros-details-container {
    text-align: center;
    margin: 0px 100px;
    flex: 1 0 auto;
}

.pros-details-main {
    font-family: 'Circular Std Book', sans-serif;
    background: #fff;
    box-shadow: 0 0.7px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 100px 20px 20px 20px;
    width: 1150px;
    max-width: 1150px;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

.pros-details-container:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.basic-info-header {
    display: flex;
}


.spacer {
    flex: 1;
}


.name-loc-rating h1 {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 30px;
}

.name-loc-rating > * {
    margin: 0
}

.pro-picture {
    margin-right: 10px;
}

.pro-picture img{
    height: 120px;
    width: 120px;  
}

.desc, .reviews, .projs {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 25px;
    margin: 0;
}
