.signin-main {
    height: 650px;
    line-height: 650px;
}

.sg {
    line-height: 650px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 80px;
}

.signin-card {
    width: 400px;
    margin-top: 35px;
    line-height: normal;
}


.signin-logo {
    font-family: 'Wavehaus Bold', sans-serif;
    font-size: 50px;
}

.signin-logo a {
    color: #313131;
}

.form-buttons {
    display: flex;
    height: 50px;
    line-height: 50px;
}

.login-instead {
    flex: 0.5;
    text-align: right;    
}

.login-instead a {
    color: #E28324;
}

.submit-btn {
    flex: 0.5;
    text-align: left;
}

.create-your-acc {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 25px;
}