.signin-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fafafa;
}

.signin-main {
    flex: 1 0 auto;
    text-align: center;
}

.signin-content {
    width: 100%;
    max-width: 1150px;
    display: inline-block;
    text-align: left;
}

.signin-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin: 0px 30px;
    
}

.signin-flex > div {
    display: inline-block;
}

.sg {
    /* line-height: 600px; */
    padding:120px 0px 0px 0px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.signin-card {
    width: 400px;
    margin-top: 35px;
    line-height: normal;
}


.signin-logo {
    font-family: 'Wavehaus Bold', sans-serif;
    font-size: 50px;
}

.signin-logo a {
    color: #414141;
}

.form-buttons {
    display: flex;
    height: 50px;
    line-height: 50px;
}

.login-instead {
    flex: 0.5;
    text-align: right;    
}

.login-instead a {
    color: #F66F56;
    font-family: 'Circular Std Book', sans-serif;
}

.submit-btn {
    flex: 0.5;
    text-align: left;
}

.create-your-acc {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 25px;
    color: #414141;
}

.login-illustration {
    grid-column-start: 2;
    grid-column-end: 3;
}

.login-illustration img{
    width: 600px;
    height: 600px;
    margin: 0px 0px 0px 70px;
}