.item-preview {
    height: 100px;
    max-height: 100px;
    display: flex;
    /* grid-template-columns: auto auto auto;
    grid-column-gap: 80px; */
    width: 1080px;
}

.responsive-container-preview {
    position: relative;
    width: 80px;
    height: 80px;
    max-height: 80px;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.item-picture-preview-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align:center; /* Align center inline elements */
}

.item-picture-preview-preview:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.item-picture-preview-preview img {
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.item-misc-preview {
    width: 450px;
    max-width: 450px;
    text-align: left;
}

.item-name-preview, .item-price-preview {
    padding: 0;
    margin: 0;
}

.item-name-preview {
    font-family: 'Circular Std Medium', sans-serif
}

.item-link-style {
    color: #313131;
    max-width: 300px;
}