.edit-project-header {
    color: #414141;
}

.are-you-sure {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 18px;
    color: #414141;
}

.ui.form input[type=password]:focus, .ui.form textarea:focus, .ui.form input[type=text]:focus, 
.ui.form input[type=number]:focus {
    border-color: #35947f;
}

.edit-form-buttons {
    display: flex;
    height:50px;
    line-height: 50px;
    width: 100%;
}
