.ui.form input[type=password]:focus, .ui.form textarea:focus, .ui.form input[type=text]:focus, 
.ui.form input[type=number]:focus {
    border-color: #35947f;
}

.signup-main {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 600px;
    text-align: center;
}

.signup-card {
}

.signup-logo {
    font-family: 'Wavehaus Bold', sans-serif;
    font-size: 50px;
}

.signup-logo a {
    color: #313131;
}

.form-buttons {
    display: flex;
    height: 50px;
    line-height: 50px;
}

.login-instead {
    flex: 0.5;
    text-align: left;    
}

.login-instead a {
    color: #E28324;
}

.submit-btn {
    flex: 0.5;
    text-align: right;
}

.create-your-acc {
    font-family: 'GT Walsheim', sans-serif;
    font-size: 30px;
    font-weight: 700;
}


.signup-form {
    text-align: left;
    color: #fff;
}


@media only screen and (max-width: 375px) {
    .signup-main {
        max-width: 280px;
        top: 70px;
    }
}