.pros-card {
    padding-bottom: 30px;
}

.pros-card-main {
    display: flex;
}


.pros-picture {
    height: 250px;
    background: #414242;
}

.pros-picture img {
    height: 250px;
}

.pros-misc {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.pros-name {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 25px;
}

.pros-location, .pros-description {
    margin: 0px;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    
}