.pros-card-main {
    padding: 10px;
    background: #313131;
    margin: 10px 0px;
}

.pros-name {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 25px;
}

.pros-location, .pros-description {
    margin: 0px;
    font-size: 15px;
}