.pros-card {
    padding-bottom: 30px;
}

.pros-card-main {
    display: flex;
}


.pros-picture img {
    width: 350px;
    height:240px;
    object-fit: cover;
    border-radius: 5px;
}

.pros-misc {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Circular Std Book', sans-serif;
    color: #414141;
}

.spacer {
    flex: 1
}

.pros-name {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.pros-location {
    margin: 0px;
    font-size: 15px;
    color: #414141;
}

.pros-description {
    margin: 2px 0 0 0;
    font-size: 13px;
    width: 100%;
    max-width: 400px;
}

.info-container-pro {
    display:flex;
    color: #414141;
    margin: 0 0 5px 0;
}

.icon-container-pro {
    width: 100%;
    max-width: 18px;
    line-height: 21px;
}

.icon-container-pro i {
    color: #F66F56;
}

.pro-link-style {
    color: #414141;
}

.pro-link-style:hover {
    text-decoration: underline;
    color: #525252;
}

@media only screen and (max-width: 1175px) {
    .pros-picture img {
        width: 280px;
        height:170px;
    }
}

@media only screen and (max-width: 650px) {
    .pros-picture img {
        width: 150px;
        height:100px;
    }

    .pros-name {
        font-size: 15px;
    }

    .pros-location {
        font-size: 12px;
    }    

    .pros-description {
        display: none;
    }
}


@media only screen and (max-width: 400px) {
    .pros-picture img {
        width: 100px;
        height:80px;
    }

    
}