.item-card {
    /* width: 300px; */
    margin:10px;
    
}

.item-card-main {
    width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;

}

.item-picture {
    width: 250px;
    max-height:300px;
}

.item-name {
    font-size: 20px;
    font-family: 'Circular Std Bold', sans-serif;
}

.item-price {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.item-picture img {
    width: 250px;
    max-height:250px;
}

.item-misc {
    width: 250px;
}

.item-misc p {
    margin: 0;
}