.item-card {
    margin:10px;
}

.item-card-main {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;

}

.responsive-container {
    position: relative;
    width: 250px;
    height: 100%;
    max-height: 270px;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.item-picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align:center; /* Align center inline elements */
}

.item-picture:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.item-name {
    font-size: 20px;
    font-family: 'Circular Std Bold', sans-serif;
}

.item-price-card {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #414141;
}

.item-category {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase
}

.item-picture img {
    width: 100%;
    max-height:250px;
    vertical-align: middle;
    display: inline-block;
}

.item-misc {
    width: 250px;
}

.item-misc p {
    margin: 0;
}


@media only screen and (max-width: 768px) {
    .item-card-main {
        max-width: 120px;
    }

    .responsive-container {
        width: 120px;
        max-height: 140px;
    }

    .item-picture img {
        max-height: 140px;
        max-width:  120px;
        width: auto;
        height: auto;
    }

    .item-misc {
        width: 120px;
    }

    .item-name {
        font-size: 15px;
    }

    .item-price {
        font-size: 12px;
    }
}

@media only screen and (max-width: 398px) {
    .item-card-main {
        max-width: 100px;
    }

    .responsive-container {
        width: 100px;
        max-height: 120px;
    }

    .item-picture img {
        max-height: 120px;
        max-width:  100px;
        width: auto;
        height: auto;
    }

    .item-misc {
        width: 100px;
    }

}

@media only screen and (max-width: 320px) {
    .item-card-main {
        max-width: 75px;
    }

    .responsive-container {
        width: 75px;
        max-height: 95px;
    }

    .item-picture img {
        max-height: 95px;
        max-width:  75px;
        width: auto;
        height: auto;
    }

    .item-misc {
        width: 75px;
    }

    .item-name {
        font-size: 10px;
    }

    .item-price {
        font-size: 8px;
    }
}