:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.home-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fafafa;
}

.home-main {
    flex: 1 0 auto;
    text-align: center;
    padding-top: 100px;
}

.home-main:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.home-content {
    width: 100%;
    max-width: 1150px;
    display: inline-block;
    text-align: left;
    
}

.pros-section {
    margin: 30px 0px;
}

.pros-section, .product-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.pros-section-heading, .product-section-heading {
    font-family: 'GT Walsheim', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #414141;
}

.pros-holder {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.product-previews {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.product-previews > * {
    flex: 1 1 10px;
}

.architects {
    background: rgba(36,226,74,1);
    background: -moz-linear-gradient(left, rgba(36,226,74,1) 0%, rgba(107,161,154,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,226,74,1)), color-stop(100%, rgba(107,161,154,1)));
    background: -webkit-linear-gradient(left, rgba(36,226,74,1) 0%, rgba(107,161,154,1) 100%);
    background: -o-linear-gradient(left, rgba(36,226,74,1) 0%, rgba(107,161,154,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,226,74,1) 0%, rgba(107,161,154,1) 100%);
    background: linear-gradient(to right, rgba(36,226,74,1) 0%, rgba(107,161,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24e24a', endColorstr='#6ba19a', GradientType=1 );
    flex: 0.5;
}

.intdes {
    background: rgba(255,0,119,1);
    background: -moz-linear-gradient(45deg, rgba(255,0,119,1) 0%, rgba(226,122,32,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,0,119,1)), color-stop(100%, rgba(226,122,32,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,0,119,1) 0%, rgba(226,122,32,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,0,119,1) 0%, rgba(226,122,32,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,0,119,1) 0%, rgba(226,122,32,1) 100%);
    background: linear-gradient(45deg, rgba(255,0,119,1) 0%, rgba(226,122,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0077', endColorstr='#e27a20', GradientType=1 );
    flex: 0.5;
}

.architects, .intdes {
    border-radius: 10px;
    text-align: center;
}

.spacer-mini {
    padding: 5px;
}

.architects a, .intdes a{
    font-size: 20px;
    font-family: 'Circular Std Medium', sans-serif;
    color: white;
    display: block;
    padding: 40px 80px;
}

.item-link-style {
    color: #313131;
    max-width: 300px;
}

.item-link-style:hover {
    color: #505050;
}


@media only screen and (max-width: 768px) {
    .pros-holder {
        display: block;
    }


    :root {
        --space: 0 0;
        --space: 0 0;
    
    }

    .product-section, .pros-section {
        margin: 0px 20px 30px 20px;
    }

    .product-section-heading, .pros-section-heading {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .architects a, .intdes a {
        padding: 60px 80px;
        
    }

    
    
}

@media only screen and (max-width: 459px) and (min-width: 380px) {
    .product-previews > * {
        flex: 1 1 150px;
    }

}

@media only screen and (max-width: 379px) and (min-width: 365px) {
    .product-previews > * {
        flex: 1 1 100px;
    }

}

@media only screen and (max-width: 398px) {
    .product-section-heading, .pros-section-heading {
        font-size: 30px;
        margin-bottom: 15px;
    }

}