body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Circular Std Book', sans-serif;
}

.ui.form input[type=email]:focus {
    border-color: #35947f;
}

.ui.form input[type=password]:focus, .ui.form textarea:focus, .ui.form input[type=text]:focus, 
.ui.form input[type=number]:focus {
    border-color: #35947f;
}
