:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.landing-site {
    font-family: 'Circular Std Book', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    margin: 64px auto;
    width: 100%;
    max-width: 1150px;
    padding: 2em 1em;
    
}

main {
    display: flex;
    flex-flow: column;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 3.5em;
    font-family: 'Circular Std Book', sans-serif;
    color: #414141;
}

.hero p {
    font-size: 1.2em;
    margin: 2em auto;
    color: #414141;
    
}

.fig {
    text-align: center;
}

.fig img {
    margin: 1em auto 0;
    width: 350px;
}


.browse-items, .discover-pros {
    text-align: center;
}

.browse-items h3, .discover-pros h3 {
    font-size: 1.5em;
    font-family: 'Circular Std Book', sans-serif;
    font-weight: 400;
    color: #414141;
}

.landing-item-previews {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.landing-link-style {
    padding: 10px;
    background: #fff;
    margin: 1em auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    color: #414141;
}


.fig-pro {
    text-align: center;
    width: 130px;
    margin: auto;
}

.fig-pro img {
    margin: 1em auto 0;
    width: 130px;
}

.browse-items {
    background: #fcfcfc;
    width: 100%;
    max-width: 1920px;
}

.discover-pros {
    background: url('../../../assets/img/landing-pro-bg.svg') no-repeat center top;
    background-size: 1000px;
}

.discover-pros-cards {
    width: 100%;
    max-width: 250px;
    margin: auto;
}

.headings {
    text-align: center;
}

.headings h2 {
    font-size: 1.2em;
    font-family: 'Circular Std Book', sans-serif;
    color: #414141;
    width: 150px;
    margin: 1em auto;
}

.headings p {
    font-size: 0.8em;
    font-family: 'Circular Std Book', sans-serif;
    color: #414141;
    width: 170px;
    margin: auto;
    
}

.landing-link-style:hover {
    color: rgb(190, 87, 68);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
}

.landing-pro-card {
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 1em auto;
    padding: 2em;
    background: #fff;
    
}


@media screen and (min-width: 992px) {
    .container {
        margin: 64px auto;
        padding: 2em 0em;
        
    }

    main {
        flex-flow: row;
    }

    .hero {
        text-align: left;
    }

    .hero h1 {
        font-size: 4em;
    }

    .hero p {
        font-size: 1.3em;
    }

    .fig {
        text-align: right;
    }

    .fig img {
        width: 650px;
        margin: 2em auto 0;
    }

    .browse-items {
        text-align: center;
    }

    .landing-item-previews {
        max-width: 1150px;
        flex-flow: row;
    }

    .discover-pros {
        background-size: 800px;
    }

    .discover-pros-cards {
        max-width: 700px;
        display: flex;    
        flex-flow: row;
            
    }
    
    .headings h2 {
        font-size: 1.7em;
        font-family: 'Circular Std Book', sans-serif;
        font-weight: 500;
        color: #414141;
        width: 200px;
        margin: 1em auto;
    }
    
    .headings p {
        font-size: 1em;
        font-family: 'Circular Std Book', sans-serif;
        color: #414141;
        width: 170px;
        margin: auto;
        
    }

    
}